body {
  color: #333;
}

pre {
  background-color: transparent;
  border: 0;  
  padding: 0px;
}

.header {
  border-bottom: 1px solid #eee;
}

.repo-link { 
  padding: 40px 0 0 0;
}

#html {
  font-size: 11px;
}

textarea.form-control {
  font-family: Menlo, Consolas, monospace;
  font-size: 12px;
  height: 400px;
}

code {
  padding: 0;
  background-color: inherit;
  color: #000;
}
